*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  grid-template-rows: auto 1fr auto;

  color: $base-black;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  background-color: $lightest-bg;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
label {
  cursor: pointer;
}
