.catalog {
  padding-top: 50px;
}

.catalog__wrapper {}

.catalog__title {
  margin-bottom: 4px;
  text-align: center;
}

.catalog__subtitle {
  margin-bottom: 20px;
  text-align: center;
}

.catalog__filters {
  margin-bottom: 40px;
}

.catalog__sort-wrapper {}

.catalog__sort-title {}

.catalog__sorter {}

.catalog__list {}

.catalog__item {}

.catalog__pagination {}
