.filters-form {}

.filters-form__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @include list-default;
}

.filters-form__item {
  &--buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
