.footer {
  background-color: $base-white;
}

.footer__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 20px 30px;
    padding-top: 40px;
  }
}

.footer__base-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 42px 0 32px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: start;
    padding: 0;
  }
}

.footer__logo {
  flex-shrink: 0;
  margin-right: 20px;
}

.footer__intro {
  display: none;

  @media (min-width: $desktop-width) {
  display: block;
  margin-bottom: 50px;

  @include font-set(400, 14px, 20px);
  }
}

.footer__social {}

.footer__navigation-list {
  @include list-default;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.footer__navigation-item {
  position: relative;

  @media (max-width: $mobile-only) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 100vw;
      height: 1px;
      background-color: $base-secondary-color;
      box-shadow: 100vw 0 0 $base-secondary-color;
    }
  }
}

.footer__developer-wrapper {
  position: relative;
  padding: 20px 0 30px;
  text-align: center;

  @media (max-width: $mobile-only) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 100vw;
      height: 1px;
      background-color: $base-secondary-color;
      box-shadow: 100vw 0 0 $base-secondary-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 30px 0 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding-top: 20px;
  }
}

.footer__developer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: $base-shade;

  @include font-set(400, 12px, 16px);
}

.footer__developer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  &:hover {
    color: $base-primary-color;
  }

  &:focus {
    color: $base-primary-color;
  }

  &:active {
    color: $primary-darker-color;
  }
}
