.footer {
  background-color: $base-white;
}

.footer__wrapper {}

.footer__base-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}

.footer__logo {
  flex-shrink: 0;
  margin-right: 20px;
}

.footer__social {}

.footer__navigation-list {
  @include list-default;
}

.footer__navigation-item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $base-secondary-color;
    box-shadow: 100vw 0 0 $base-secondary-color;
  }
}

.footer__developer-wrapper {
  position: relative;
  padding: 20px 0 30px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $base-secondary-color;
    box-shadow: 100vw 0 0 $base-secondary-color;
  }
}

.footer__developer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: $base-shade;

  @include font-set(400, 12px, 16px);
}

.footer__developer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
