.map {
  height: 420px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.map__pic {
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
}
