.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include list-default;
}

.pagination__item {
  min-width: 40px;
  min-height: 40px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  padding: 8px;
  color: $base-primary-color;
  background-color: $base-white;
  border-radius: 4px;

  &--current {
    color: $base-black;
    font-weight: 600;
    background-color: $lightest-bg;
  }

  &--arrow {

  }

  &--next {
    transform: scaleX(-1);
  }

  &:hover {
    color: $base-white;
    background-color: $primary-lighter-color;
  }

  &:focus {
    color: $base-white;
    background-color: $primary-lighter-color;
  }

  &:active {
    color: $base-white;
    background-color: $primary-darker-color;
  }

  &:disabled {
    color: $base-white;
    background-color: $base-shade;
  }

  @media (min-width: $tablet-width) {
    &--arrow svg {
      display: none;
    }

    &--next {
      transform: none;
    }
  }
}

.pagination__mark {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
