.primary-button {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  color: $base-white;
  text-align: center;
  background-color: $base-primary-color;
  border-radius: 4px;
  @include font-set(400, 16px, 24px);
}
