.product {
  display: grid;
  grid-template-columns: 1fr 141px;
  padding: 40px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }
}

.product__pic-wrapper {
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.product__name {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 4px;

  @include font-set(700, 24px, 36px);

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.product__description {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 16px;

  @include font-set(400, 14px, 20px);

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.product__price {
  grid-column: 1/2;
}

.product__order-link {
  display: flex;
  gap: 6px;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 16px;
    background-image: url(../../icons/buy-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
