.site-menu {
  display: none;

  @include list-default;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    margin-right: 162px;
  }

  &--is-open {
    @media (max-width: $mobile-only) {
      position: absolute;
      left: 0;
      width: 100%;

      display: block;
      background-color: $base-white;
    }
  }
}

.site-menu__item {
  display: flex;

  @media (max-width: $mobile-only) {
    flex-grow: 1;
    border-top: 1px solid $base-secondary-color;

    &:last-child {
      border-bottom: 1px solid $base-secondary-color;
    }
  }
}

.site-menu__link {
  flex-grow: 1;
  padding: 20px 0;
  color: $base-black;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    color: $base-primary-color;
  }

  &:focus {
    color: $base-primary-color;
  }

  &:active {
    color: $base-primary-color;
    background-color: $base-secondary-color;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 2px;

        background-color: $base-primary-color;
      }
    }
  }
}
