.slider-pagination {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    list-style: none;
  }
}

.slider-pagination__item {}

.slider-pagination__button {
  width: 62px;
  height: 4px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background-color: $base-white;
  border: none;

  &--current {
    background-color: $base-primary-color;
  }
}
